<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Coming Soon - Start Bootstrap Theme">
    <meta name="author" content="David Miller"/>
    <meta name="copyright" content="Copyright 2013-2019 Blackrock Digital LLC. Code released under the MIT license.">
    <title>Coming Soon</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
